.link {
	padding: 0 20px;
	height: 24px;

	display: flex;
	align-items: center;
	gap: 8px;

	color: rgb(34, 34, 34);
	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;

	&--light {
		font-weight: 400;
		color: rgb(113, 113, 113);
	}
}
